header{
    background-color: rgb(240, 180, 250);
    padding: 2%;
    width: 100%;
    position:sticky;
    
    
}
nav{
    top:0;
}
nav>ul{
    top: 0;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    padding-right: 30px;
    margin-right: 30px;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
}
li>a:hover{
    color: gold;
}
p{
    font-size: 30px;
}